{% extends './base.html' %}
{% block stylesheet %}
<link rel="stylesheet" href="../../static/Home/index.css"/>
{% endblock stylesheet %}
{% block main %}
<div class="d-flex flex-column h-100 mx-5">
    <main class="my-5 d-flex flex-fill">
        <form class="row row-cols-auto">
            <div class="col-auto">
                <label>Tweet text:</label>
                <div class="input-group">
                    <input type="search" class="form-control" placeholder="My cat" />
                    <span class="input-group-text search_icon"> <i class="fas fa-search"></i></span>
                </div>
                <label class="form-text">* This input is required.</label>
            </div>
             <div class="col-auto">
                 <div class="row row-cols-auto">
                     <label class="row row-cols-auto">Country:</label>
                 </div>
                 <div class="row row-cols-auto">
                     <select class="form-control">
                         <option value="" disabled selected>Select a country</option>
                     </select>
                 </div>
                 <div class="row row-cols-auto align-items-baseline">
                     <input type="checkbox" />
                     <label class="form-text">Search by country?</label>
                 </div>
            </div>
        </form>
    </main>
</div>
{% endblock main %}