.search_icon{
    color: #ffffff;
    background-color: rgb(26,145,218);
}

.bg_blue{
    background-color: rgb(26,145,218);
    border-color: rgb(26,145,218);
    color: #ffffff;
    font-weight: 600;
}

.input_focus:focus {
    box-shadow: none;
    border-color: rgb(26,145,218);
}