{% extends '../base.html' %}
{% block title %} Tweets {% endblock title %}
{% block main %}
<div class="mt-5">
    <table class="table w-100 table-hover align-middle">
        <thead class="table-dark">
            <tr>
                <th class="col-3 position-sticky top-0 py-3">Created At</th>
                <th class="col-3 position-sticky top-0 py-3">Text</th>
                <th class="col-3 position-sticky top-0 py-3 text-end">Handle</th>
                <th class="col-3 position-sticky top-0 py-3 text-end">Language</th>
            </tr>
        </thead>
        {% for tweet in context_tweets %}
        <tr>
            {% for key, value in tweet.items %}
                {% if key == 'created_at' %}
                    <td class="col-3">{{value}}</td>
                {% elif key == 'full_text' %}
                    <td class="col-5">{{value}}</td>
                {% elif key == 'lang' %}
                    <td class="col-1 text-end">{{value}}</td>
                {% elif key == 'user' %}
                    {% for key, value in value.items %}
                        {% if key == 'screen_name' %}
                            <td class="col-3 text-end">@{{value}}</td>
                        {% endif %}
                    {% endfor%}
                {% endif %}
            {% endfor%}
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock main %}