<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
          integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
          crossorigin="anonymous"/>
    <link href="../static/libs/bootstrap5/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="../static/Home/css/base.css" />
    {% block stylesheet %}{% endblock stylesheet %}
    <title>
        {% block title %}Home {% endblock title %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="d-flex flex-column h-100">
        <header class="justify-content-center navbar navbar-expand-md border-bottom mx-5">
                <h1 class="text-dark">Twitter API <small class="lead">using Python</small></h1>
        </header>
        <main class="flex-fill">
            {% block main %}
            {% endblock main %}
        </main>
        <footer class="bg-dark text-white p-4 mt-5">
            <div class="row row-cols-auto justify-content-between">
                <div class="col">
                    <div class="row">
                        <h6>Kolegji Riinvest</h6>
                    </div>
                    <div class="row">
                        <a class="text-decoration-none text-secondary" href="https://www.riinvest.net">Website</a>
                    </div>
                    <div class="row">
                        <address>Lidhja e Prizrenit no.56, Prishtina 10000</address>
                    </div>
                </div>
                <div class="col">
                    <div class="row">
                        <h6>Programming in Python</h6>
                    </div>
                    <div class="row">
                       <span><a href="https://www.python.org/" class="text-decoration-none text-primary">Python</a> - <a class="text-decoration-none text-warning" href="https://www.djangoproject.com/">Django</a></span>
                    </div>
                    <div class="row">
                        <a href="https://developer.twitter.com" class="text-decoration-none">Twitter API</a>
                    </div>
                </div>
                <div class="col">
                    <div class="row">
                        <h6>Jon Ahmeti</h6>
                    </div>
                    <div class="row">
                        <i>ID 180149K</i>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    {% block scripts %}
    {% endblock scripts %}
</body>
</html>
